@using EntityLayer.Concrete
@model List<About>


@foreach (var item in Model)
{
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a>
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="@item.LinkedinUrl"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="@item.Email"><i class="ti-google" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="@item.InstagramUrl"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="@item.GithubUrl"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>
            <div class="header-content">
                <h4 class="header-subtitle">Merhaba , Ben</h4>
                <h1 class="header-title">@item.Name</h1>
                <h6 class="header-mono">@item.Introduction</h6>
                <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>CV</button>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @*                 <li class="nav-item">
                <a href="#home" class="nav-link">Anasayfa</a>
                </li> *@
                    <li class="nav-item">
                        <a href="#about" class="nav-link">Hakkımda</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Özgeçmiş</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="~/johndoe/public_html/assets/imgs/avatar.jpg" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">@item.Name</h5>
                        <div class="brand-subtitle">@item.Introduction</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    @*   <li class="nav-item">
                <a href="#blog" class="nav-link">Blog</a>
                </li> *@
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Ben Kimim?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">@item.AboutHeader</h5>
                <p class="mt-20">@item.AboutContent</p>
                <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>CV </button>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Kişisel Bilgiler</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Doğum Tarihi</span> : 09/13/1996</li>
                    <li><span>Email</span> : @item.Email</li>
                    <li><span>Telefon</span> : @item.Phone</li>
                    @*                 <li><span>Skype</span> : John_Doe </li>
                *@
                    <li><span>Adres</span> :  @item.Address</li>
                </ul>
                @*  <ul class="social-icons pt-3">
            <li class="social-item"><a class="social-link" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="ti-google" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul> *@
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">İşlerim</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>UX Design</h6>
                        <p class="subtitle"> exercitat Repellendus,  corrupt.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Web Development</h6>
                        <p class="subtitle">Lorem ipsum dolor sit consectetur.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Digital Marketing</h6>
                        <p class="subtitle">voluptate commodi illo voluptatib.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
}